.counter{
    width: 500px;
    text-align: center;
    margin-top: 150px;
    margin-left: 500px;
    border: 2px solid  rgb(231, 101, 75);
    padding: 20px;
    border-radius: 15px;
    font-family:cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    margin-left: 20px;
    height: 30px;
    width: 200px;
    font-size: large;
    border-radius: 5px;
}
label{
    font-size: larger;
}
.start{
    margin-top: 50px;
}
button{
    margin-left: 30px;
    height: 40px;
    width: 100px;
    background-color: rgb(231, 101, 75);
    border: transparent;
    border-radius: 5px;
    font-size: medium;
    color: #fff;
    font-family:cursive
}
button:hover{
    background-color: rgb(214, 74, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.currentTime{
    background-color:  rgb(222, 238, 224);
    align-items: center;
    margin-top: -30px;
    border-radius: 10px;
}
